<app-navbar></app-navbar>
<section class="abc" >
<div >
    <div class="col-md-12"style="background-color:grey;">
    <h1><b>Admin Login</b></h1></div><br><br>
        <form action="/action_page.php" method="post">
        
          <br><br>
        
          <div >
            <label for="uname"><b>Name</b></label>&nbsp;
            <input type="text" placeholder="Enter name" name="uname" required>
          <br><br>
            <label for="psw"><b>Password</b></label>&nbsp;
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br><br> 
            <label for="email"><b>Email Id</b></label>&nbsp;
            <input type="password" placeholder="Enter MailId" name="email" required>
            <br><br>     
            <button type="submit"class="btn btn-success" routerLink="">Click</button>
            <br><br>
            
          </div>
        
          <div  >
           
          </div>
        </form>
        </div>
      </section>